* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

header .icon .icon-text {
    font-family: monospace;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

header .icon .highlight {
    color: #f92672; /* Monokai pink color */
}

header h1 {
    font-size: 1.5em;
    margin: 10px 0;
}

.typing {
    font-size: 1.5em;
    color: #333;
    font-family: monospace;
    color: #f92672; /* Monokai pink color */
}

.cursor {
    font-size: 1.5em;
    color: #333;
    display: inline-block;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.profile {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #333;
}
.links {
    padding: 10px;
}
.project-list, .certificate-list {
    
    text-align: left;
    margin: 20px 0px;
}
.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section {
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.skill-list {
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}
a {
    color: #f92672;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;

}
@media (min-width: 768px) {

    .sections {
        align-items: center;
        max-width: 1200px;
    }

    .section {
        width: 80%;
        margin: 10px 0;
    }
    .profile {
        margin: 20px 20px;
    }
    .project-list, .certificate-list {
        margin: 20px 20px;
    }
}

footer {
    width: 100%;
    padding: 10px 0;
    background-color: #f0f0f0;
    text-align: center;
    position: relative;
    flex: 0 0 auto;
}

@media (min-width: 768px) {
    footer {
        position: sticky;
        bottom: 0;
    }
}
